
body {
  margin:0px;
  padding: 0px;
  overflow-x:hidden;
}

.wrap {
  font-family: Arial, Helvetica, sans-serif;
  min-width: 100vw;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.center-text{
  font-size:44px;
  font-weight: bold;
}
